.task-title {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.2s ease-in-out
}

.task-title:hover {
    color: blue;
    font-weight: 600;
}

.fa-trash-can {
    color: black;
    transition: color 0.2s ease-in-out;
}

.fa-trash-can:hover  {
    color: blue;
}
