<div class= "container">
    <h2>Edit your task</h2>

    <%= render "form", task: @task %>

    <hr>

    <button type="button" class="btn btn-outline-dark">
    
      <%= link_to tasks_path do %>
        Back to list
      <% end  %>

    </button>
</div>