// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-color: #93c7ff;
    color: white;
}

h1 {
    text-shadow: 2px 2px #9b9b9b;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    border-color: #007bff;
    box-shadow: 5px 5px 5px #007bff;
    width: fit-content;
    padding: 20px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #007bff;
}

.card-task {
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    border-color: #007bff;
    box-shadow: 5px 5px 5px #007bff;
    width: 300px;
    color: #007bff;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

.btn-outline-primary {
    font-weight: bolder;
}

.btn-outline-primary :hover {
    text-decoration: none;
    color: white;
}